<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('enterprise/favicon_io/favicon.ico') }}">
    <link href="{{ asset('theme/assets/css/loader.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('theme/assets/js/loader.js') }}"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="{{ asset ('theme/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('theme/assets/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    {% block page_level_css %} {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="dashboard-analytics">

{# <!-- BEGIN LOADER --> #}
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
{# <!--  END LOADER --> #}
{# <!--  BEGIN TOP NAVBAR  --> #}
<div class="header-container fixed-top" style="border-bottom:2px solid #ffe8a1">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item flex-row">
            <li class="nav-item align-self-center page-heading">
                <div class="page-header">
                    <div class="page-title">
                        <h3>{% block page_title %}{% endblock %}</h3>
                    </div>
                </div>
            </li>
        </ul>
        {{ include('top_navbar.html.twig') }}
    </header>
</div>
{# END TOP NAVBAR #}
{# BEGIN MAIN CONTAINER #}
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    {{ include('sidebar.html.twig') }}
    {# BEGIN CONTENT AREA #}
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            {% block body %}{% endblock %}
        </div>
        {{ include('footer.html.twig') }}
    </div>
    {# END CONTENT AREA #}
</div>

{# BEGIN GLOBAL MANDATORY SCRIPTS #}
<script src="{{ asset('theme/assets/js/libs/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('theme/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('theme/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('theme/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('theme/assets/js/app.js') }}"></script>
<script>
    $(document).ready(function () {
        App.init();
    });
</script>
<script src="{{ asset('theme/assets/js/custom.js') }}"></script>
{# END GLOBAL MANDATORY SCRIPTS #}
{% block page_level_script %}{% endblock %}
</body>
</html>
