{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/datatables.css') }}">
{% endblock %}
{% block title %}Dev Options Next ID!{% endblock %}
{% block page_title %}Custom ID Generator{% endblock %}
{% block body %}
    <div class="row layout-top-spacing" id="cancel-row">


        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

            <div class="widget-content widget-content-area br-6">
                {{ form_start(nextObjectForm) }}
                <div class="row">
                    <div class="col-md-12 p-2 badge outline-badge-info">
                        <table class="table table-sm">
                            <thead>
                            <tr style="background-color: #1b2e4b;color: white">
                                <th> fully qualified object namespace/Entity</th>
                                <th>Prefix </th>
                                <th>Value Slot</th>
                                <th>Force Random</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    {{ form_row(nextObjectForm.ObjectSignatureNamespace) }}
                                </td>
                                <td> {{ form_row(nextObjectForm.PrefixID) }}</td>
                                <td>{{ form_row(nextObjectForm.NextValueSlot) }}</td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-info">save</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{ form_row(nextObjectForm._token) }}
                {{ form_end(nextObjectForm,{'render_rest':false}) }}
                <div class="row"></div>
                <br>
                <div class="m-0 p-2" style="border: 1px solid lightgrey">
                    <table id="zero-config" class="table table-bordered table-hover p-2 mb-4"
                           style="width:100%; border: 1px dotted coral">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Object Namespace</th>
                            <th>PrefixId</th>
                            <th>Next Id Value</th>
                            <th class="no-content">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for nextObj in NextObject %}
                            <tr>
                                <td>{{ nextObj.id}}</td>
                                <td>{{ nextObj.ObjectSignatureNamespace }}</td>
                                <td>{{ nextObj.PrefixID }}</td>
                                <td>{{ nextObj.NextValueSlot }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_level_script %}
    {# BEGIN PAGE LEVEL SCRIPTS #}
    <script src="{{ asset('theme/plugins/table/datatable/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#zero-config').DataTable();
        });
    </script>
    {# END PAGE LEVEL SCRIPTS #}
{% endblock %}

