{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}
<link rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">
{% endblock %}
{% block title %}Student Center - Enroll Student!{% endblock %}
{% block page_title %}Register/Enroll Student{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">Classrooms</h4>
        </div>
        <div class="col-sm-5 col-6 text-right m-b-30">
            <a href="{{ path('app_student_header') }}" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> View All Students</a>
        </div>
    </div>

    <div class="row layout-top-spacing" id="cancel-row">


        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

            <div class="widget-content widget-content-area br-6">
                <h4 class="badge badge-success p-2" style="font-size: 1em"> Select a classroom to view students</h4>
                <table id="zero-config" class="table table-bordered table-hover p-2 mb-4" style="width:100%; border: 1px dotted coral" >
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Level ID & Class Rooms</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in classHeader %}
                        <tr class='clickable-row1' onclick="ShowClassRooms('{{path('app_class_header_details',{'id':class.id})}}')" data-href='{{path('app_class_header_details',{'id':class.id})}}' style="cursor: pointer">
                            <td style="border-right: 2px solid lightgrey">{{ class.ClassName }} </td>
                            <td>{{ class.levelID }}</td>
                            <td></td>
                        <tr>
                            <td style="">
                                <a class="bs-tooltip" title="Add room" href="{{ path('app_classrooms_add', {'action': 'add', 'id': class.id}) }}">
                                    <span><img src="{{ asset('enterprise/icons8-add-to-collection-32.png') }}"></span>
                                </a>
                            </td>
                            <td><table id="inner" class="table table-bordered table-sm dt-no-sorting">
                                    {%for rooms in class.classRooms %}
                                        <tr style="border-left: 2px solid {{class.classColorID}}">
                                            <td>{{rooms.SectionName }}</td>
                                            <td><a  href="{{ path('app_classroom_students',{'room_id' : rooms.id}) }}" class="btn btn-sm btn-outline-primary bs-tooltip-auto" title="Add a student to {{rooms.SectionName}}">
                                                   {# <img src="{{ asset('icons/list/icons8-list-of-parts-30.png') }}" style="height: 16px;width: 16px">#}
                                                    <i class="fa fa-list-ul"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </table>
                            </td>
                        </tr>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_level_script %}
    {# BEGIN PAGE LEVEL SCRIPTS #}
    <script>
        function ShowClassRooms(path){
            window.location = path;
        }

    </script>
    <script>
        $(document).ready(function () {
            $('#zero-config').DataTable();
            $('#inner').DataTable();
        });
    </script>
    {# END PAGE LEVEL SCRIPTS #}
{% endblock %}

