{% extends 'masterpages/layout.twig' %}

{% block title %}Student Information{% endblock %}
{% block page_level_css %}
    <link rel="stylesheet" href="{{ asset('theme/assets/css/main.css') }}">
    <link href="{{ asset('theme/assets/css/scrollspyNav.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('theme/assets/css/components/tabs-accordian/custom-tabs.css') }}" rel="stylesheet"
          type="text/css"/>
    <style>
        .checkbox-margin label{
            margin-left: 5px !important;
            padding: 3px;
        }

        .entry-subjects{

            z-index: 1000;
        }
        .profile{
            position: absolute;
            right: 2%;
        }
        @media only screen and (max-width: 720px) {
            .profile{
                position: relative;
                width: 100%;

            }
        }
    </style>
{% endblock %}

{% block page_title %}Student Information{% endblock %}
{% block body %}
    <div class="row layout-top-spacing">
        <div class="col-lg-12 col-12 layout-spacing">

            {% block page_actions %}
                <a href="{{ path('app_class_header') }}">
                    <img src="{{ asset('enterprise/icons8-move-selection-to-top-row-30.png') }}">
                </a>
            {% endblock %}
            <div class="statbox widget box box-shadow" style="border:  1px dotted coral">

                {{form_start(studentForm)}}
                <div class="pull-right" style="margin-right:-90%">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-save"></i></button>
                </div>
                <div class="widget-content widget-content-area " style="">
                    <ul class="nav nav-tabs mb-3 mt-3  " id="borderTop" role="tablist" style="border: 1px solid grey">
                        <li class="nav-item">
                            <a class="nav-link active" id="border-top-home-tab" data-toggle="tab"
                               href="#border-top-home" role="tab" aria-controls="border-top-home" aria-selected="true">

                                Basic Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="border-top-profile-tab" data-toggle="tab" href="#border-top-profile"
                               role="tab" aria-controls="border-top-profile" aria-selected="false">

                                Subject Selection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="border-top-contact-tab" data-toggle="tab" href="#border-top-contact"
                               role="tab" aria-controls="border-top-contact" aria-selected="false">
                                Attachments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="border-top-setting-tab" data-toggle="tab" href="#border-top-setting"
                               role="tab" aria-controls="border-top-setting" aria-selected="false">
                                Hostel & Service</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="borderTopContent">

                        <div class="tab-pane fade show active" id="border-top-home" role="tabpanel"
                             aria-labelledby="border-top-home-tab">

                            <div class="form-row">
                                <div class="form-group col-md-8 mr-0 p-2" style="border: 1px solid lightblue">
                                    <div class="form-row" >
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.FirstName,'FirstName')}}
                                            {{form_row(studentForm.FirstName,{'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.MiddleName,'Middle Name')}}
                                            {{form_row(studentForm.MiddleName,{'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.LastName,'Last Name')}}
                                            {{form_row(studentForm.LastName, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.EnrollDate,'Enroll Date')}}
                                            {{form_row(studentForm.EnrollDate, {'attr':{'class':'form-control'}})}}
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.StudentPhoneNumber,'Phone')}}
                                            {{form_row(studentForm.StudentPhoneNumber, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.StudentEmail,'Student Email')}}
                                            {{form_row(studentForm.StudentEmail, {'attr':{'class':'form-control'}})}}
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12 col-md-12 col-sm-12">
                                            {{form_label(studentForm.StudentHomeAddress,'Home Address')}}
                                            {{form_row(studentForm.StudentHomeAddress, {'attr':{'class':'form-control'}})}}
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.DOB,'DOB')}}
                                            {{form_row(studentForm.DOB, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            {{form_label(studentForm.StudentGender,'Gender')}}
                                            {{form_row(studentForm.StudentGender, {'attr':{'class':'form-control'}})}}
                                        </div>

                                    </div>
                                    <div class="row m-1">

                                        <h6 class="skill-item">Guardian Information</h6>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4 col-sm-12">
                                            {{form_label(studentForm.GuardianName,'Gurdian Name')}}
                                            {{form_row(studentForm.GuardianName, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-4 col-sm-12">
                                            {{form_label(studentForm.GuardianPhoneNumber1,'Cell Phone')}}
                                            {{form_row(studentForm.GuardianPhoneNumber1, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            {{form_label(studentForm.GuardianPhoneNumber2,'Cell Phone (other)')}}
                                            {{form_row(studentForm.GuardianPhoneNumber2, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            {{form_label(studentForm.GuardianEmail,'Email')}}
                                            {{form_row(studentForm.GuardianEmail, {'attr':{'class':'form-control-sm'}})}}
                                        </div>
                                    </div>

                                </div>
                                {#PROFILE PICTURE ROW#}
                                <div class="form-group col-md-3 badge outline-badge-warning out profile " >
                                    <div class="form-row">
                                        <div class="w-profile-view p-2">
                                            <img src="{{asset('enterprise/icons8-avatar-64.png')}}" alt="admin-profile" class="img-fluid">
                                            <div class="w-profile-content">
                                                <h6></h6>
                                                <p>Student Image</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 custom-file-container">
                                            {{form_row(studentForm.PhotoFile)}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="border-top-profile" role="tabpanel"
                             aria-labelledby="border-top-profile-tab">

                                <div style="" class="col-md-10 p-2 entry-subjects">
                                    <h3 class="header badge badge-classic">Select Subjects</h3>
                                    <hr>
                                    {{form_row(studentForm.EntrySubjects,{'attr':{'class':'checkbox-margin bagde outline-badge-info'}})}}
                                </div>
                        </div>
                        <div class="tab-pane fade" id="border-top-contact" role="tabpanel"
                             aria-labelledby="border-top-contact-tab">
                        {#    <div class="form-group col-md-12 custom-file-container card-box outline-badge-warning">
                                {{form_row(studentForm.CertificateFile1)}}
                            </div>
                            <div class="form-group col-md-12 custom-file-container card-box outline-badge-warning">
                                {{form_row(studentForm.CertificateFile2)}}
                            </div>#}
                        </div>
                        <div class="tab-pane fade" id="border-top-setting" role="tabpanel"
                             aria-labelledby="border-top-setting-tab">

                        </div>

                    </div>
                </div>
                {{form_row(studentForm._token)}}
                {{form_end(studentForm,{'render_rest':false})}}
            </div>
        </div>
    </div>


{% endblock %}
{% block page_level_script %}
    <script src="{{ asset('theme/assets/js/scrollspyNav.js') }}"></script>
{% endblock %}