{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/scrollspyNav.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('theme/assets/css/components/tabs-accordian/custom-tabs.css') }}">
{% endblock %}
{% block title %}Class Information{% endblock %}

{% block page_title %}Class Information{% endblock %}
{%block page_actions%}
<a href="{{ path('app_class_header') }}">
    <img src="{{ asset('enterprise/icons8-move-selection-to-top-row-30.png') }}">
</a>
{%endblock%}
{% block body %}
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">Add a class</h4>
        </div>
        <div class="col-sm-5 col-6 text-right m-b-30">
            <a href="{{ path('app_class_header') }}" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> View All classes</a>
        </div>
    </div>
    <div class="row layout-top-spacing">
        {{ include('feedback_flash_messages.html.twig') }}
        <div class="col-lg-1 col-1 layout-spacing"></div>
        <div class="col-lg-10 col-10 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Enter Class Details</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area border-top-tab">
                    {{ form_start(classForm) }}

                    <div class="form-row ">
                        <div class="form-group col-md-4">
                            {{ form_label(classForm.ClassName,"Class Name") }}
                            {{ form_row(classForm.ClassName) }}
                        </div>

                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-4">
                            {{ form_label(classForm.LevelID,"Class Level") }}
                            {{ form_row(classForm.LevelID) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(classForm.NumberOfClassRooms,"How many classes are in this level?") }}
                            {{ form_row(classForm.NumberOfClassRooms) }}
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-4">
                            {{ form_label(classForm.ClassColorID,"Color Identifier") }}
                            {{ form_row(classForm.ClassColorID) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(classForm.Remarks,"Comments") }}
                            {{ form_row(classForm.Remarks) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form_label(classForm.Status,"Enable/Active Class",{'class':'new-control new-checkbox checkbox-success'}) }}
                            {{ form_row(classForm.Status) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Class</button>
                    {{ form_row(classForm._token) }}
                    {{ form_end(classForm,{'render_rest': false}) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block page_level_script %}
    <script src="{{ asset('theme/assets/js/scrollspyNav.js') }}"></script>
{% endblock %}
