{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}
    <link href="{{ asset('theme/assets/css/widgets/modules-widgets.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block title %}Class Header Details{% endblock %}
{% block page_title %}Class Rooms {% endblock %}
{% block body %}
    <div class="row layout-top-spacing" id="cancel-row">


        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

            <div class="card-box mb-0">
                <div class="card-block">
                    <div class="card col-4 p-2 mb-2">
                        <h5>Class Rooms</h5>

                    </div>

                    <div class="mt-container mx-auto">
                        <table id="class-rooms" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Section/ Stream Name</th>
                                <th>Max Capacity</th>
                                <th>Total Number of Student</th>
                                <th>Has both genders</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for classRoom in classHeader.classRooms %}
                                <tr>
                                    <td>{{ classRoom.id }}</td>
                                    <td>
                                        {{ classRoom.SectionName }}
                                    </td>
                                    <td>
                                        {{ classRoom.MaxCapacity }}
                                    </td>
                                    <td>
                                        {{ classRoom.TotalNumberOfStudents }}
                                    </td>
                                    <td>
                                        {{ classRoom.HasBothGenders }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block page_level_script %}

    <script>
        $(document).ready(function () {
            $('#class-rooms').DataTable();
        });
    </script>
{% endblock %}


