{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}

{% endblock %}
{% block title %}School Information!{% endblock %}
{% block page_title %}School Information{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">School Information</h4>
        </div>
        <div class="col-sm-5 col-6 text-right m-b-30">
            <a href="{{ path('app_school_edit_school_information', {'action': 'edit', 'id': schools[0].id}) }}" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> View All Students</a>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="card-box mb-0">
                <div class="card-block">
                    <div class="table-responsive">

                        <table class="datatable table table-stripped ">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Initials</th>
                                <th>Cellphone1</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>No of levels (classes)</th>
                                <th>No of streams (per class)</th>
                                <th class="no-content">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for model in schools %}
                                <tr>
                                    <td>{{ model.Name }} </td>
                                    <td>{{ model.IDInitials }}</td>
                                    <td>{{ model.CellPhone1 }}</td>
                                    <td>{{ model.Email }}</td>
                                    <td>{{ model.City }}</td>
                                    <td>{{ model.NoOfLevels }}</td>
                                    <td>{{ model.NoOfStreamsPerLevel }}</td>
                                    <td>
                                        <a href="{{ path('app_school_edit_school_information', {'action': 'edit', 'id': model.id}) }}">edit</a>
                                        <a>delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_level_script %}
    <script src="{{ asset('site/assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}