{% extends 'masterpages/layout.twig' %}
{% block page_level_css %}

{% endblock %}
{% block title %}Class Header!{% endblock %}
{% block page_title %}Subjects & Courses{% endblock %}
{% block body %}
    <div class="row layout-top-spacing" id="cancel-row">


        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

            <div class="widget-content widget-content-area br-6">
                <div class="col-1 pull-right p-2" style="right: -90%">
                    <a id="" class="btn btn-dark mb-2 mr-2 rounded-circle" href="{{ path('app_create_course', {'action': 'add', 'id': ''}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </a>
                </div>
                <table id="course_header" class="table " style="width:100%; border: 1px dotted coral" >
                    <thead style="background-color: #9e9e9e">
                    <tr>
                        <th>Course ID</th>
                        <th>Name</th>
                        <th>Has Modules</th>
                        <th>Duration</th>
                        <th class="no-content">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subject in courses %}
                        <tr class='clickable-row1'>
                            <td>{{subject.CourseID}}</td>
                            <td>{{subject.CourseName}}</td>
                            <td>{{subject.HasModules}}</td>
                            <td>{{subject.CourseDuration}}</td>
                            <td>
                                <a class="badge outline-badge-success" href="{{ path('app_create_course', {'action': 'edit', 'id': subject.id}) }}">
                                    <img src="{{ asset('enterprise/icons8-pencil-16.png') }}">
                                </a>

                                <a class="badge outline-badge-danger" href="#">
                                    <img src="{{ asset('enterprise/icons8-delete-view-16.png') }}">
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_level_script %}
    {# BEGIN PAGE LEVEL SCRIPTS #}
    <script src="{{ asset('theme/plugins/table/datatable/datatables.js') }}"></script>
    <script>
        function ShowClassRooms(path){
            window.location = path;
        }

    </script>

        <script>
            $(document).ready(function () {
                $('#course_header').DataTable();
            });
        </script>
    {# END PAGE LEVEL SCRIPTS #}
{% endblock %}

